In [5]:
print('Twinkle, twinkle, littel star, \n' 
     '  Hello World \n'
     '    Up above the world so high, \n'
     '    Like a diamond in the sky. \n'
     'Twinkle, twinkle, littel star, \n'
     '  How I wonder what you are')

Twinkle, twinkle, littel star,
  Hello World
    Up above the world so high,
    Like a diamond in the sky.
Twinkle, twinkle, littel star,
  How I wonder what you are

In [11]:
a, b = 3, 2
if type(a) == int and type(b) == int:
    result = a + b

In [18]:
num_sum = 0
a, b, c = 3, 3, 2
if a != b and a != c and b != c:
    num_sum = a + b + c
num_sum

0

In [19]:
x = 4
y = 3
print((x+y) * (x+y))

49

In [24]:
x1 = 2
x2 = 4
y1 = 3
y2 = 1

x1_y1 = x1 - y1
if x1_y1 < 0:
    x1_y1 = (-1) * x1_y1 
    
x2_y2 = x2 - y2 
if x2_y2 < 0:
    x2_y2 = (-1) * x2_y2

## 6

In [28]:
n = 10
for i in range(n):
    print('*', end='-')

*-*-*-*-*-*-*-*-*-*-

## 7

In [29]:
a_c = 4
b_c = 3
a_c = (a_c**2 + b_c**2)**(1/2)
a_c

5.0

## 8

In [34]:
pressure = 12.35
KPA_PSI = 6.89475729
psi = pressure / KPA_PSI
print(f'{psi:.2f} Psi')

1.79 Psi

In [38]:
a = 0; b = 5
middle = (a + b) / 2
middle

2.5

In [41]:
lst = [3, 1, 2]
lst.sort()
lst

[1, 2, 3]

In [76]:
import math
?math

In [63]:
num = input('Enter a string of numbers separated by a space: ').split()
cum_sum = 0
for i in num:
    cum_sum += int(i)

cum_sum

Enter a string of numbers separated by a space: 10 20 30

60

## 13

In [79]:
lst = ['abc', 'xyz', 'aba', '1221']
cnt = 0
for i in lst:
    if len(i) >= 2 and i[0] == i[-1]:
        cnt += 1
        
cnt

2

## 14

In [273]:
lst = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = []
last_item = lst[0][-1]
index = 0
length = len(lst)
smallest_tup = ()
copy_list = lst.copy()

    index = 0
    for j in lst:
        if lst[index][1] < j[1]:
            smallest_tup = lst[index]
        else:
            smallest_tup = j
        index +1
    sorted_list.append(smallest_tup)
    lst.remove(smallest_tup)

In [274]:
sorted_list

[(2, 1), (2, 3), (4, 4), (1, 2), (2, 5)]

In [249]:
lst = [1]
copy_list = lst.copy()

In [250]:
lst.pop()
copy_list

[1]

## 15

In [81]:
import random
colors = ['Red', 'Blue', 'Green', 'White', 'Black']
random_color = random.choice(colors)
random_color

'White'

## 16

In [82]:
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
unique = []
for i in my_list:
    if i not in unique:
        unique.append(i)
unique

[10, 20, 30, 40, 50, 60]

## 17

In [123]:
my_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
n = 3
new_list = []

for i in range(n):
    new_list.append(my_list[i::n])
new_list

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [120]:
split_interval

5

In [121]:
new_list = []
start_index = 0
for i in range(n):
    if i < n - 1:
        print(my_list[start_index:split_interval+start_index])
    else:
        print(my_list[start_index:])
    
    start_index += split_interval

['a', 'b', 'c', 'd', 'e']
['f', 'g', 'h', 'i', 'j']
['k', 'l', 'm', 'n']

## 18

In [140]:
color_list = ['red', 'green', 'orange']
'-'.join(color_list)

'red-green-orange'

## 19

In [141]:
lst = [1, 2, 3, 4]
string = 'emp'
new_list = []
for i in lst:
    new_list.append(string+str(i))
    
new_list

['emp1', 'emp2', 'emp3', 'emp4']

## 20

In [144]:
lst = ['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']
char = input()
new_list = []
for i in lst:
    if i[0] == char:
        new_list.append(i)
        
new_list

w

[]